.footer{
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-top: 4rem;
  background-color: #BF5CAA;
  align-items: center;
  color: white !important;
}

.links{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
a{
  text-decoration: none;
}
.footerLinks{
  color: #fca1e8!important;
}
.author{
  color: #fca1e8 !important;
}
.copyRight p{
  margin-top: 2rem;
  text-align: center; 
  color: #fca1e8 !important;
}
.iconbutton{
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #fca1e8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

.iconbutton a{
  color: white;
  font-weight: 600;
  font-size: large;
}